<div class="login">
  <div class="card mb-3" w-auto p-3>
    <!-- <img src="logo.jpg" class="card-img-top" alt="H&R Block" />-->
    <div class="card-header">Code Auditing Tool</div>
    <div class="card-body">
      <h5 class="card-title">Please login</h5>
      <form [formGroup]="form" class="example-form" (ngSubmit)="sendMailID()">
        <div *ngIf="otp == false" class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email"
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher"
              name="emailFormControl"
              formControlName="emailFormControl"
            />
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error
              *ngIf="
                form.get('emailFormControl').hasError('email') &&
                !form.get('emailFormControl').hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error
              *ngIf="form.get('emailFormControl').hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="otp == true" class="form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Enter OTP"
              [formControl]="otpFormControl"
              name="otpFormControl"
              type="text"
              maxlength="7"
              formControlName="otpFormControl"
            />
          </mat-form-field>
        </div>
        <button
          *ngIf="otp == false"
          class="btn btn-sm btn-default"
          type="submit"
        >
          Next
        </button>
        <button
          *ngIf="otp == true"
          type="submit"
          class="btn btn-sm btn-info"
          (click)="verifyHash()"
        >
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
