.mat-header-cell {
  font-size: 0.95rem;
  font-weight: 500;
  border-top-width: 0;
  border-bottom-width: 1px;
  color: blue;
}
th.mat-sort-header-sorted {
  color: black;
}
.mat-column- {
  display: flex;
  justify-content: flex-end;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  /* flex: 0 0 20%;*/
  width: 10%;
}

td.mat-cell:nth-child(2),
td.mat-footer-cell:nth-child(2),
th.mat-header-cell:nth-child(2) {
  /* flex: 0 0 20%;*/
  width: 15%;
}
td.mat-cell:nth-child(3),
td.mat-footer-cell:nth-child(3),
th.mat-header-cell:nth-child(3) {
  /* flex: 0 0 20%;*/
  width: 15%;
}
td.mat-cell:nth-child(5),
td.mat-footer-cell:nth-child(5),
th.mat-header-cell:nth-child(5) {
  /* flex: 0 0 20%;*/
  width: 10%;
}
td.mat-cell:nth-child(4),
td.mat-footer-cell:nth-child(4),
th.mat-header-cell:nth-child(4) {
  /* flex: 0 0 20%;*/
  width: 50%;
}

