<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top cat-navbar">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Auditor Access</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Team Access</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                      </button>
                </div>
            </form>
        </div>
    </div>
</nav>


