
<div class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
          <h2>Rating page</h2>

    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
      <form class="needs-validation" novalidate>
        <hr class="mb-4">
        <h4 class="mb-3">Documentation</h4>
        <div class="form-group d-flex col-sm-10 col-md-10 justify-content-between my-3 zeroPaddingLeft">
                  <!--<span class="font-weight-bold">Documentation</span>-->
          <div class="custom-control custom-radio ">
            <input id="excellentDoc" name="documentation" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentDoc">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodDoc" name="documentation" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodDoc">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgDoc" name="documentation" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgDoc">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairDoc" name="documentation" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairDoc">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorDoc" name="documentation" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorDoc">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>
          <hr class="mb-4">
        <!--<h4 class="mb-3">Unit Testing</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
                   <span class="font-weight-bold">Unit Testing</span>
          <div class="custom-control custom-radio ">
            <input id="excellentUt" name="unitTesting" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentUt">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodUt" name="unitTesting" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodUt">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgUT" name="unitTesting" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgUT">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairUT" name="unitTesting" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairUT">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorUT" name="unitTesting" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorUT">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

        <hr class="mb-4">
        <label class="mb-3 font-weight-bold">Coding Standards/guidelines</label>
    <div class="subgroupPadding">
              <!--<h5 class="mb-3">Naming convention</h5>-->

        <div class="form-group d-flex justify-content-between my-3">
            <span class="font-weight-bold">Naming convention</span>
                  <div class="custom-control custom-radio ">
            <input id="exlntNmConvtn" name="namingConvention" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="exlntNmConvtn">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodNmConvtn" name="namingConvention" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodNmConvtn">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgNmConvtn" name="namingConvention" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgNmConvtn">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairNmConvtn" name="namingConvention" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairNmConvtn">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorNmConvtn" name="namingConvention" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorNmConvtn">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

        <hr class="mb-4">
        <!--<h5 class="mb-3">Error handling</h5>-->

        <div class="form-group d-flex justify-content-between my-3">
           <span class="font-weight-bold">Error handling</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentErrHndlng" name="errorHandling" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentErrHndlng">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodErrHndlng" name="errorHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodErrHndlng">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgErrHndlng" name="errorHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgErrHndlng">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairErrHndlng" name="errorHandling" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairErrHndlng">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorErrHndlng" name="errorHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorErrHndlng">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

        <hr class="mb-4">
        <!--<h5 class="mb-3">Logic</h5>-->
        <div class="form-group d-flex justify-content-between my-3">
          <span class="font-weight-bold">Logic</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentLogic" name="logic" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentLogic">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodLogic" name="logic" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodLogic">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgLogic" name="logic" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgLogic">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairLogic" name="logic" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairLogic">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorLogic" name="logic" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorLogic">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>
          </div>
        <hr class="mb-4">
        <!--<h4 class="mb-3">Performance</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Performance</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentPerformance" name="performance" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentPerformance">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodPerformance" name="performance" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodPerformance">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgPerformance" name="performance" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgPerformance">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairPerformance" name="performance" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairPerformance">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorPerformance" name="performance" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorPerformance">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

      <hr class="mb-4">
        <!--<h4 class="mb-3">Security</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Security</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentSecurity" name="Security" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentSecurity">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodSecurity" name="Security" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodSecurity">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgSecurity" name="Security" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgSecurity">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairSecurity" name="Security" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairSecurity">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorSecurity" name="performance" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorSecurity">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

        <hr class="mb-4">
        <!--<h4 class="mb-3">Static code analysis metrics</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Static code analysis metrics</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentCodeMetrics" name="codeMetrics" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentCodeMetrics">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodCodeMetrics" name="codeMetrics" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodCodeMetrics">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgCodeMetrics" name="codeMetrics" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgCodeMetrics">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairCodeMetrics" name="codeMetrics" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairCodeMetrics">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorCodeMetrics" name="codeMetrics" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorCodeMetrics">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

        <hr class="mb-4">
        <!--<h4 class="mb-3">Follows the defined architechture</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Follows the defined architechture</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentDefArch" name="definedArchitecture" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentDefArch">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodDefArch" name="definedArchitecture" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodDefArch">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgDefArch" name="definedArchitecture" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgDefArch">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairDefArch" name="definedArchitecture" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairDefArch">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorDefArch" name="definedArchitecture" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorDefArch">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>
        <hr class="mb-4">
        <!--<h4 class="mb-3">Object-Oriented Analysis and Design (OOAD) Principles [SOLID]</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Object-Oriented Analysis and Design (OOAD) Principles [SOLID]</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentOOADP" name="OOADP" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentOOADP">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodOOADP" name="OOADP" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodOOADP">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgOOADP" name="OOADP" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgOOADP">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairOOADP" name="OOADP" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairOOADP">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorOOADP" name="OOADP" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorOOADP">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

              <hr class="mb-4">
        <!--<h4 class="mb-3">Reliability [Exception handling and cleanup (dispose) resources]</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Reliability [Exception handling and cleanup (dispose) resources]</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentExptnHndlng" name="exceptionHandling" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentExptnHndlng">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodExptnHndlng" name="exceptionHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodExptnHndlng">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgExptnHndlng" name="exceptionHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgExptnHndlng">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairExptnHndlng" name="exceptionHandling" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairExptnHndlng">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorExptnHndlng" name="exceptionHandling" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorExptnHndlng">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>


              <hr class="mb-4">
        <!--<h4 class="mb-3">Reusability [DRY (Do not Repeat Yourself) principle]</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Reusability [DRY (Do not Repeat Yourself) principle]</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentDRY" name="DRY_Principle" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentDRY">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodDRY" name="DRY_Principle" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodDRY">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgDRY" name="DRY_Principle" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgDRY">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairDRY" name="DRY_Principle" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairDRY">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorDRY" name="DRY_Principle" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorDRY">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>

              <hr class="mb-4">
        <!--<h4 class="mb-3">Scalability/Extensibility</h4>-->
        <div class="form-group col-sm-10 col-md-10 d-flex justify-content-between my-3 zeroPaddingLeft">
          <span class="font-weight-bold">Scalability/Extensibility</span>
                  <div class="custom-control custom-radio ">
            <input id="excellentSE" name="scalabilityAndextensibility" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="excellentSE">Excellent</label>
          </div>
           <div class="custom-control custom-radio ">
            <input id="goodSE" name="scalabilityAndextensibility" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="goodSE">Good</label>
           </div>
          <div class="custom-control custom-radio ">
            <input id="avgSE" name="scalabilityAndextensibility" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="avgSE">Average</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="fairSE" name="scalabilityAndextensibility" type="radio" class="form-control custom-control-input"  required>
            <label class="custom-control-label" for="fairSE">Fair</label>
          </div>
          <div class="custom-control custom-radio ">
            <input id="poorSE" name="scalabilityAndextensibility" type="radio" class="form-control custom-control-input" required>
            <label class="custom-control-label" for="poorSE">Poor</label>
          </div>
        </div>
        <div class="form-group">
            <!--<label for="exampleFormControlTextarea1">Comments</label>-->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
        </div>
          <hr class="mb-4">
      <div class="col-md-4 mb-3">
       <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button> -->
       <a class="btn btn-primary btn-lg btn-block"  routerLink="/observations">Continue </a>
      </div>

        </form>
      </div>
    </div>

    <!--<footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2019 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>-->
  </div>
</div>
