<!-- nav -->
<nav class="navbar navbar-expand c-mainnav" *ngIf="currentUser">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="far fa-compass"></i> C.A.T</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark c-mainnav" *ngIf="currentUser">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="far fa-compass"></i> C.A.T</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav> -->

<!-- main app container -->
    <router-outlet></router-outlet>
