<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


   <!--Rating page starts-->

      <div class="row mb-5 mx-5">
  <div class="col-md-12 order-md-1">
  <form class="needs-validation" novalidate>
    <!-- Documentation starts -->
    <div class="row">
    <div class="col-md-4">
      <h5	class="mt-3">
        Documentation
      </h5>
    </div>
    <div class="col-md-8 pr-5">
                  <div class='rating-stars'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='success-box'class="hide"><div class="text-message"></div></div>
                  <!--<div class="d-flex justify-content-between my-3">
        <div class="custom-control custom-radio ">
          <input	id="excellentDoc"
              name="documentation"
              type="radio"
              class="form-control
              custom-control-input"
              required>
          <label	class="custom-control-label"
              for="excellentDoc">
            Excellent
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="goodDoc"
              name="documentation"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="goodDoc">
            Good
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="avgDoc"
              name="documentation"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="avgDoc">
            Average
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="fairDoc"
              name="documentation"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="fairDoc">
            Fair
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="poorDoc"
              name="documentation"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="poorDoc">
            Poor
          </label>
        </div>
                  </div>-->

      <!--<label for="exampleFormControlTextarea1">Comments</label>-->
      <textarea	class="form-control" id="docComments" rows="2" placeholder="Comments [Manadatory for Avg / Fair / Poor ratings]"></textarea>
    </div>
  </div>
  <!-- Documentation ends -->
          <hr class="mb-4">
  <!-- Unit Testing starts -->
  <div class="row">
    <div class="col-md-4 d-flex ">
      <h5	class="mt-3">
        Unit Testing
      </h5>
    </div>
    <div class="col-md-8 pr-5">
              <div class='rating-stars'>
                      <ul id='UTstars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='utFeedback'class="hide"><div class="text-message"></div></div>
      <!--<div class="d-flex justify-content-between my-3">
        <div class="custom-control custom-radio ">
          <input	id="excellentUT"
              name="unitTesting"
              type="radio"
              class="form-control
              custom-control-input"  required>
          <label	class="custom-control-label"
              for="excellentUT">
            Excellent
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="goodUT"
              name="unitTesting"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="goodUT">
            Good
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="avgUT"
              name="unitTesting"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="avgUT">
            Average
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="fairUT"
              name="unitTesting"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="fairUT">
            Fair
          </label>
        </div>
        <div class="custom-control custom-radio ">
          <input	id="poorUT"
              name="unitTesting"
              type="radio"
              class="form-control custom-control-input"
              required>
          <label	class="custom-control-label"
              for="poorUT">
            Poor
          </label>
        </div>
      </div>-->
      <!--<label for="exampleFormControlTextarea1">Comments</label>-->
      <textarea	class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Comments"></textarea>
    </div>
  </div>
  <!-- Unit Testing ends -->
           <hr class="mb-4">
  <!-- Coding Standards/guidelines starts -->
  <div class="row">
    <div class="col-md-12">
      <h5 class="">
        Coding Standards/guidelines
      </h5>
              <div class="shadow">
                  <!--Naming convention starts-->
                  <div class="row">
                      <div class="col-md-4 pl-5 align-items-center">
                          <h6	class="mt-3">
                              Naming convention
                          </h6>
                      </div>
                      <div class="col-md-8 pr-5">
                           <div class='rating-stars pt-2'>
                      <ul id='stars1'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='namingConventionFeedback'class="hide"><div class="text-message"></div></div>
                          <!--<div class="d-flex justify-content-between my-3">
                              <div class="custom-control custom-radio ">
                                  <input	id="excellentNC"
                                          name="namingConvention"
                                          type="radio"
                                          class="form-control
                                          custom-control-input"  required>
                                  <label	class="custom-control-label"
                                          for="excellentNC">
                                      Excellent
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="goodNC"
                                          name="namingConvention"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="goodNC">
                                      Good
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="avgNC"
                                          name="namingConvention"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="avgNC">
                                      Average
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="fairNC"
                                          name="namingConvention"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="fairNC">
                                      Fair
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="poorNC"
                                          name="namingConvention"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="poorNC">
                                      Poor
                                  </label>
                              </div>
                          </div>-->
                          <!--<label for="namingConvtn_comments">Comments</label>-->
                          <textarea	class="form-control" id="namingConvtn_comments" rows="2" placeholder="Comments"></textarea>
                      </div>
                  </div>
                  <!--Naming convention ends-->
                  <!--Error Handling starts-->
                  <div class="row">
                      <div class="col-md-4 pl-5 ">
                          <h6	class="mt-3">
                              Error Handling
                          </h6>
                      </div>
                      <div class="col-md-8 pr-5">
                          <div class='rating-stars pt-2'>
                      <ul id='errStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='errFeedback'class="hide"><div class="text-message"></div></div>
                          <!--<div class="d-flex justify-content-between my-3">
                              <div class="custom-control custom-radio ">
                                  <input	id="excellentErrHndlng"
                                          name="errorHandling"
                                          type="radio"
                                          class="form-control
                                          custom-control-input"  required>
                                  <label	class="custom-control-label"
                                          for="excellentErrHndlng">
                                      Excellent
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="goodErrHndlng"
                                          name="errorHandling"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="goodErrHndlng">
                                      Good
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="avgErrHndlng"
                                          name="errorHandling"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="avgErrHndlng">
                                      Average
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="fairErrHndlng"
                                          name="errorHandling"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="fairErrHndlng">
                                      Fair
                                  </label>
                              </div>
                              <div class="custom-control custom-radio ">
                                  <input	id="poorErrHndlng"
                                          name="errorHandling"
                                          type="radio"
                                          class="form-control custom-control-input"
                                          required>
                                  <label	class="custom-control-label"
                                          for="poorErrHndlng">
                                      Poor
                                  </label>
                              </div>
                          </div>-->
                          <!--<label for="errHandling_comments">Comments</label>-->
                          <textarea	class="form-control" id="errHandling_comments" rows="2" placeholder="Comments"></textarea>
                      </div>
              </div>
          <!--Error handling ends-->
          <!--Logic starts-->
              <div class="row">
                  <div class="col-md-4 pl-5 ">
                      <h6	class="mt-3">
                          Logic
                      </h6>
                  </div>
                  <div class="col-md-8 pr-5 pb-3">
                      <div class='rating-stars pt-2'>
                      <ul id='logicStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='logicFeedback'class="hide"><div class="text-message"></div></div>
                      <!--<div class="d-flex justify-content-between my-3">
                          <div class="custom-control custom-radio ">
                              <input	id="excellentLogic"
                                      name="logic"
                                      type="radio"
                                      class="form-control
                                      custom-control-input"  required>
                              <label	class="custom-control-label"
                                      for="excellentLogic">
                                  Excellent
                              </label>
                          </div>
                          <div class="custom-control custom-radio ">
                              <input	id="goodLogic"
                                      name="logic"
                                      type="radio"
                                      class="form-control custom-control-input"
                                      required>
                              <label	class="custom-control-label"
                                      for="goodLogic">
                                  Good
                              </label>
                          </div>
                          <div class="custom-control custom-radio ">
                              <input	id="avgLogic"
                                      name="logic"
                                      type="radio"
                                      class="form-control custom-control-input"
                                      required>
                              <label	class="custom-control-label"
                                      for="avgLogic">
                                  Average
                              </label>
                          </div>
                          <div class="custom-control custom-radio ">
                              <input	id="fairLogic"
                                      name="logic"
                                      type="radio"
                                      class="form-control custom-control-input"
                                      required>
                              <label	class="custom-control-label"
                                      for="fairLogic">
                                  Fair
                              </label>
                          </div>
                          <div class="custom-control custom-radio ">
                              <input	id="poorLogic"
                                      name="logic"
                                      type="radio"
                                      class="form-control custom-control-input"
                                      required>
                              <label	class="custom-control-label"
                                      for="poorLogic">
                                  Poor
                              </label>
                          </div>
                      </div>-->
                      <!--<label for="exampleFormControlTextarea1">Comments</label>-->
                      <textarea	class="form-control" id="logic_comments" rows="2" placeholder="Comments"></textarea>
                  </div>
              </div>
          <!--Logic ends-->
          </div>
    </div><!--end of coding standard col md 12-->
  </div><!-- ending div for coding standards-->
<hr class="mb-4">
  <div class="row"><!--Performance starts-->
      <div class="col-md-4 d-flex ">
        <h5	class="mt-3">
          Performance
        </h5>
      </div>
      <div class="col-md-8 pr-5">
                   <div class='rating-stars pt-2'>
                      <ul id='performanceStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='performanceFeedback'class="hide"><div class="text-message"></div></div>
        <!--<div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentPerformance"
                name="performance"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentPerformance">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodPerformance"
                name="performance"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodPerformance">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgPerformance"
                name="performance"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgPerformance">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairPerformance"
                name="performance"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairPerformance">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorPerformance"
                name="performance"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorPerformance">
              Poor
            </label>
          </div>
        </div>-->
        <!--<label for="performance_comments">Comments</label>-->
        <textarea	class="form-control"
              id="performance_comments"
              rows="2"
              placeholder="Comments">
        </textarea>
      </div>
    </div>
    <!--Performance ends -->
           <hr class="mb-4">
    <!--Security starts-->
    <div class="row">
      <div class="col-md-4 d-flex">
        <h5	class="mt-3 ">
          Security
        </h5>
      </div>
      <div class="col-md-8 pr-5">
                   <div class='rating-stars pt-2'>
                      <ul id='securityStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='securityFeedback'class="hide"><div class="text-message"></div></div>
        <!--<div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentSecurity"
                name="security"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentSecurity">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodSecurity"
                name="security"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodSecurity">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgSecurity"
                name="security"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgSecurity">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairSecurity"
                name="security"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairSecurity">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorSecurity"
                name="unitTesting"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorSecurity">
              Poor
            </label>
          </div>
        </div>-->
        <!--<label for="security_comments">Comments</label>-->
        <textarea	class="form-control" id="security_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Security ends-->
           <hr class="mb-4">
    <!--Static code analysis metrics starts-->
    <div class="row">
      <div class="col-md-4 d-flex">
        <h5	class="mt-3">
          Static code analysis metrics
        </h5>
      </div>
      <div class="col-md-8 pr-5">
                   <div class='rating-stars pt-2'>
                      <ul id='metricsStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='metricsFeedback'class="hide"><div class="text-message"></div></div>
        <!--<div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentSCAM"
                name="codeMetrics"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentSCAM">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodSCAM"
                name="codeMetrics"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodUT">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgSCAM"
                name="codeMetrics"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgSCAM">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairSCAM"
                name="codeMetrics"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairSCAM">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorSCAM"
                name="codeMetrics"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorSCAM">
              Poor
            </label>
          </div>
        </div>-->
        <!--<label for="codeMetrics_comments">Comments</label>-->
        <textarea	class="form-control" id="codeMetrics_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Static code analysis metrics ends-->
           <hr class="mb-4">
    <!--Follows the defined architecture starts-->
    <div class="row">
      <div class="col-md-4 d-flex">
        <h5	class="mt-3">
          Follows the defined architecture
        </h5>
      </div>
      <div class="col-md-8 pr-5">
                   <div class='rating-stars pt-2'>
                      <ul id='archStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='archFeedback'class="hide"><div class="text-message"></div></div>
        <!--<div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentDefArch"
                name="followsDefArch"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentDefArch">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodDefArch"
                name="followsDefArch"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodUT">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgDefArch"
                name="followsDefArch"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgDefArch">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairDefArch"
                name="followsDefArch"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairDefArch">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorDefArch"
                name="followsDefArch"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorDefArch">
              Poor
            </label>
          </div>
        </div>-->
        <!--<label for="followsDefArch_comments">Comments</label>-->
        <textarea	class="form-control" id="followsDefArch_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Follows the defined architecture ends-->
           <hr class="mb-4">
    <!--Object-oriented analysis and design (OOAD) Principles [SOLID] starts-->
    <div class="row">
      <div class="col-md-4 d-flex ">
        <h5	class="mt-3">
          Object-oriented analysis and design (OOAD) Principles [SOLID]
        </h5>
      </div>
      <div class="col-md-8 pr-5">
                   <div class='rating-stars pt-2'>
                      <ul id='OOADStars'>
                        <li class='star' title='Poor' data-value='1'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Average' data-value='3'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='4'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='5'>
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
              <div id='OOADFeedback'class="hide"><div class="text-message"></div></div>
        <!--<div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentOOAD"
                name="priciplesOOAD"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentOOAD">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodOOAD"
                name="priciplesOOAD"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodOOAD">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgOOAD"
                name="priciplesOOAD"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgOOAD">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairOOAD"
                name="priciplesOOAD"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairOOAD">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorOOAD"
                name="priciplesOOAD"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorOOAD">
              Poor
            </label>
          </div>
        </div>-->
        <!--<label for="priciplesOOAD_comments">Comments</label>-->
        <textarea	class="form-control" id="priciplesOOAD_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Object-oriented analysis and design (OOAD) Principles [SOLID] ends-->
           <hr class="mb-4">
    <!--Reliability [Exception handling and cleanup (dispose) resources] starts-->
    <div class="row">
      <div class="col-md-4 d-flex">
        <h5	class="mt-3">
          Reliability [Exception handling and cleanup (dispose) resources]
        </h5>
      </div>
      <div class="col-md-8 pr-5">
        <div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentReliability"
                name="reliability"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentReliability">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodReliability"
                name="reliability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodReliability">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgReliability"
                name="reliability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgReliability">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairReliability"
                name="reliability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairReliability">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorReliability"
                name="reliability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorReliability">
              Poor
            </label>
          </div>
        </div>
        <!--<label for="reliability_comments">Comments</label>-->
        <textarea	class="form-control"
              id="reliability_comments"
              rows="2"
              placeholder="Comments">
        </textarea>
      </div>
    </div>
    <!--Reliability [Exception handling and cleanup (dispose) resources] ends-->
           <hr class="mb-4">
          <!--Reusability [DRY (Do not Repeat Yourself) principle] starts-->
    <div class="row">
      <div class="col-md-4 d-flex">
        <h5	class="mt-3">
          Reusability [DRY (Do not Repeat Yourself) principle]
        </h5>
      </div>
      <div class="col-md-8 pr-5">
        <div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellentReusability"
                name="reusability"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellentReusability">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="goodReusability"
                name="reusability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="goodUT">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avgReusability"
                name="reusability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avgReusability">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fairReusability"
                name="reusability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fairReusability">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poorReusability"
                name="reusability"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poorReusability">
              Poor
            </label>
          </div>
        </div>
        <!--<label for="reusability_comments">Comments</label>-->
        <textarea	class="form-control" id="reusability_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Reliability [Exception handling and cleanup (dispose) resources] ends-->
          <hr class="mb-4">
    <!--Scalability/Extensibility starts-->
    <div class="row">
      <div class="col-md-4 d-flex ">
        <h5	class="mt-3">
          Scalability/Extensibility
        </h5>
      </div>
      <div class="col-md-8 pr-5">
        <div class="d-flex justify-content-between my-3">
          <div class="custom-control custom-radio ">
            <input	id="excellent_scalab_extensib"
                name="scalab_extensib"
                type="radio"
                class="form-control
                custom-control-input"  required>
            <label	class="custom-control-label"
                for="excellent_scalab_extensib">
              Excellent
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="good_scalab_extensib"
                name="scalab_extensib"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="good_scalab_extensib">
              Good
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="avg_scalab_extensib"
                name="scalab_extensib"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="avg_scalab_extensib">
              Average
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="fair_scalab_extensib"
                name="scalab_extensib"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="fair_scalab_extensib">
              Fair
            </label>
          </div>
          <div class="custom-control custom-radio ">
            <input	id="poor_scalab_extensib"
                name="scalab_extensib"
                type="radio"
                class="form-control custom-control-input"
                required>
            <label	class="custom-control-label"
                for="poor_scalab_extensib">
              Poor
            </label>
          </div>
        </div>
        <!--<label for="scalab_extensib_comments">Comments</label>-->
        <textarea	class="form-control" id="scalab_extensib_comments" rows="2" placeholder="Comments"></textarea>
      </div>
    </div>
    <!--Scalability/Extensibility ends-->
          <hr class="mb-4">
    <div class="row">
      <div class="pt-5 d-flex justify-content-center" >
        <div class="pl-5"><a href="" class="btn btn-sm btn-info" role="button">
          Save for later
                      </a>
                  </div>
                 <div class="pl-5"> <a href="" class="btn btn-sm btn-success" role="button">
          Save
                     </a>
                  </div>
      </div>
    </div>
    </form>
  </div>
</div>
      <!--Rating page ends-->

  </main>
